<!-- this is the root page, a brief explain for the application -->

{% extends "UserBase.html" %}

{% block content %}
  <style type="text/css">
    .log {
      color: #FFFFFFFF;
      font-size: 20px;
    }

    .title {
      padding: 10px;
      height: 50px;
      background-color: #0B0B0BFF;

    }
 

    body {
      margin-bottom: 60px;
      background: aqua;
      font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, simsun, sans-serif;
      -webkit-background-size: 100% 100%;
      -moz-background-size: 100% 100%;
      -o-background-size: 100% 100%;
      background-size: 100% 100%;
    }

  </style>

    <div class="whole">
      <div class="welcome" style="color: #FFFFFFFF;">
        <h2 id = "info">Welcome to quiz page</h2>
        <p>This is a question-answering platform. Students can sign in with normal user identity, choose your question set and answer those questions. Unit coordinators can sign in with administrator accounts to set questions and manage users.</p>
      </div>
      <br><br>
      <div class="btn btn-block">
        <button type="button" class="btn btn-warning"> <a href="{{ url_for('register') }}">Register now</a></button>
      </div>
    </div>



  <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

{% endblock %}
