<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quiz Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/application_css.css">

  </head>
  <body>
    <div class="start">
      <img src="../static/uwa2.png" class="img-responsiv" id="pic" alt="uwa logo">
    </div>
<!--    title -->
    <div class="jumbotron">
      <div class="container">
        <div class="jumb">
          <h2>Welcome to the quiz page</h2>
        </div>
      </div>
    </div><br><br>
<!-- options including login and check marks -->
    <h3>Please select one of following:</h3><br>
    <div class="three_form">
      <div class="candidate">
        <h4><a href='/canLogin'>Candidate</a></h4>
        <p>Please cilck to log in if you are enrolled candidate.</p>
      </div><br>
      <div class="Admin">
        <h4><a href="/adminLogin">Administrator</a></h4>
        <p>Please click to log in if you are Administrator.</p>
      </div><br>
      <div class="result">
        <h4><a href="#">Result</a></h4>
        <p>Please click to see aggregate results for quizzes.</p>
      </div>
    </div><br>


    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
  </body>
</html>