{% extends "UserBase.html" %}

{% block content %}

<h3>Please fill your personal information:</h3><br>
<div class="content">
  <!-- login block -->
  <form action='' method="POST">
    {{ form.hidden_tag() }}
    <div>
      <p>
        <!-- username -->
        {{ form.username.label }}<br>
        {{ form.username(size = 60, placeholder = "Username") }}
        {% for error in form.username.errors %}
        <span style="color: red;">[ {{ error}} ]</span>
        {% endfor %}
      </p>
      <p>
        <!-- password-->
        {{ form.password.label }}<br>
        {{ form.password(size = 60, placeholder = "Password") }}
        {% for error in form.password.errors %}
        <span style="color: red;">[ {{ error}} ]</span>
        {% endfor %}
      </p>
      <p>
        <!-- remember me -->
        {{ form.remember_me() }}
        {{ form.remember_me.label }}
      </p>
      <!-- submit button -->
      <p>
        {{form.submit(id = 'submit')}}
      </p>
      <!--<div class="form-group" style ="text-align: center;">-->
          <!--<button type="submit" class="btn" style="background-color: white;">Sign in</button>-->
      <!--</div>-->
      <!-- redirect for register -->
      <p><a href="{{ url_for('register') }}">Click to Register</a></p>
    </div>
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<br>
<br>

{% endblock %}

