
{% extends "Userbase.html" %}

{% block content %}

<style>
    .container{
       margin-top: 50px;
        text-align: center;

    }
    .answerTable{
        font-size: 20px;
        width: 500px;
        height: 300px;
        resize: none;
        
    }
</style>

<div class="container" >
    {% for i in question %}
    <p style="font-size: 20px;">{{i}}</p>
    {% endfor %}
</div>

<div class="container">

    <form action="" method="post" >
        {{ form.hidden_tag() }}
        <p >
            {{ form.answer(size=600,class_='answerTable')}}<br> <hr>
        </p>
        <p>{{ form.submit(class_='btn btn-success') }}</p>
    </form>
</div>

{% endblock %}
