{% extends "Userbase.html" %}

{% block content %}
<style type="text/css">
    h1 {
        text-align: center;
    }

    h2 {
        margin: 0 100px;
    }

    button {
        margin: 0 auto;
        display: block;
        color: white;
        background-color: cornflowerblue;
        font-size: 20px;
        border-radius: 15px;
    }
</style>
<!-- overall title -->
<h1 class="Title">
    Welcome to take quiz!
</h1>
<h2>
    Here're your questions:
</h2>


<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.tag.label }}
    </p>
    <p>
        {{ form.tag }}
    </p>
    <p>{{ form.submit() }}</p>
</form>





{% endblock %}