{% extends "Userbase.html" %}

{% block content %}

<style>
    * {
    padding: 0;
    margin: 0;
    }

    h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 30px;
    }

    
    .container {
    width: 100%;
    margin: 0 auto;
    animation: question 2.1s;   
    }

    @keyframes question {
    from {
    opacity: 0;
    transform: translate3d(0,8%,0)
    }
    to {
    opacity: 1;
    transform: none;
    }
    }

                
    .container .content .title {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    }

    .container .content .subtitle {
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
    color: darkgrey;
    }

    .container .content hr {
    border: 0;
    height: 1px;
    background-color: lightblue;
    }

    .container .content .questions{           
        margin: 0 auto;
        margin-top: 40px;
        text-align: center;
    }
    .container .content .questions .tag{
        font-size: 16px;      
    }
    </style>
</head>
<body>
<div class="container">

<div class="content">
<h1 class="title">Welcome to take quiz!</h1>
<p class="subtitle">Here're your questions:</p>
<hr>
<div class="questions" >
<form action="" method="post">
    {{ form.hidden_tag() }}
    <P class="tag">{{ form.tag.label }}:  {{ form.tag }}</P>
    <p>
        
    </p>
    <p class="a2">{{ form.submit(class_='btn btn-success') }}</p>
</form>
</div>
</div>
</div>



{% endblock %}
