{% extends "Userbase.html" %}

{% block content %}

<style>
    /* 通用格式 */
    * {
        margin:0;
        padding:0;
      }

      body {
        line-height:28px;
        color:gray;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }

      .input{
        width:100%; 
        height: 28px; 
        margin-top:10px;
      }
      .input2{
        width:100%; 
        height: 50px; 
        margin-top:10px;
      }
      .input3{
        width:100%; 
        height: 180px; 
      }

      .container {
        width:35%;
        margin:0 auto;
        position:relative;
        margin-top: 30px;
      }

      #uploadPaper {
        border-radius: 10px;
        background:whitesmoke;
        padding:30px;
        padding-top: 1px;
        padding-bottom: 5px;
      }

      #uploadPaper h3 {
        color: orange;
        font-size: 32px;
        font-weight: 100%;
        text-align: left;
      }

      #uploadPaper h4 {
        font-size:13px;
      }

      fieldset {        
        margin: 0 0 10px;
        padding: 0;
        width: 100%;
        border: medium none ;
        font-size: 18px;
      }

      textarea {
        resize:none;
        font-size: 15px;
      }

      .button {
        width:100%;
        border:none;
        background:#66c5B4;
        color:whitesmoke;
        margin:0 0 6px;
        padding:8px;
        font-size:16px;
        cursor:pointer;
      }

      .button:hover {
        background:rgb(11, 112, 94);
        transition:background-color 0.3s ease-in-out;
      }

      .r{
         float: right;
      }
</style>

<div class="container">  
    <form id="uploadPaper" action="" method="post">
      <h3>Upload paper</h3>
      <h4>input paper which you want to unload,then click summit.</h4>
      <!-- choose subject -->
      <fieldset> 
        <p>Choose paper:</p>

        {{ form.Tag(size=10,placeholder="TAG",class_="input") }}
        {{ form.Mark(size=10,placeholder="MARK",class_="input") }}
        {{ form.Que(size=10,placeholder="QUESTION",class_="input2") }}
      </fieldset>
      <!-- input context -->
      <fieldset>
        <p>Stand answer:</p>
        {{ form.Stand_answer(size=500,placeholder="upload hour answer here...(if there is no stand answer, please do not enter anything!)",class_="input3") }}
      </fieldset>
      <fieldset>
        {{ form.submit(class_="button") }}
      </fieldset>
      <a style="color: #72a0f0; " href="{{ url_for('Upload_question') }}">Upload another question</a>
      <a class="r" style="color: #72a0f0;" href="{{ url_for('AdminWelcome') }}">End</a>
    </form>
  </div>
  
  </body>



{% endblock %}