{% extends "UserBase.html"%}
{% block content %}

<!-- welcome -->


<div class="welcome">
    What's up, {{ current_user.username }}
</div>
<!-- introduction -->
<div class="intro col-lg-8 col-lg-offset-2">
    <h1>A bit introduction:</h1>
    This is an online test platform. While here, you can select different question sets which may include:
    <ul>
        <li>multichoice questions</li>
        <li>fuzzle questions</li>
        <li>long answer questions</li>
    </ul>

</div>
</div>


{% endblock %}
